// font-family: 'Red Hat Display', sans-serif;
// font-family: 'Baloo 2', cursive;
body {
  font-family: "Baloo 2", cursive;
  font-size: 18px;
  font-weight: normal;
  color: #035755;
  background: rgba(181, 116, 116, 0.089);
}

h4 {
  font-family: "Baloo 2", cursive;
}

h1,
h2,
h3,
.logo span {
  font-family: "Red Hat Display", sans-serif;
}
h5 {
  font-family: "Baloo 2", cursive;
  font-size: 47px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 22px;
  color: #fa5652;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 42px;
}

.btn {
  font-family: "Baloo 2", cursive;
}

.covid {
  text-align: center;
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;

  p {
    font-size: 20px;
    line-height: 40px;
  }
}
